.index-main {
  font-family: lato;
  font-size: 15px;
  width: 1100px;

  margin: 0 auto;
  font-weight: 400;
}

.index-welcome {
  font-family: lato;
  height: 300px;
  padding-top: 20px;
  width: 100%;
  display: block;
  position: relative;
}

.blue {
  color: rgb(22, 82, 240);
}

.watchlist {
  font-size: 15px;
  border: 1px solid rgba(211, 211, 211, 0.304);
  background-color: rgb(255, 255, 255);
  transition: all 80ms ease-in-out 0s;
  color: rgba(0, 0, 0, 0.377);
  font-weight: 700;
  padding: 18px 26px;
  border-radius: 4px;
  float: right;
  margin-right: 84px;
}

.watchlist:hover {
  border-color: rgb(22, 82, 240);
  color: rgb(22, 82, 240);
    cursor: pointer;
}

.index-welcome h3 {
  font-size: 20px;
  padding-top: 12px;
    padding-left: 40px;
}

.index-welcome h1 {
  font-size: 36px;
  padding-top: 150px;
  padding-left: 40px;
  font-weight: 500;
}

.index-welcome::after {
  content: "";
  background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 19%, rgba(0,0,0,0) 100%), image_url("splash-back.jpeg") ;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  margin-top: 20px;
}

.coins {
  border: 1px solid rgba(211, 211, 211, 0.404);
  border-bottom: none;
  border-radius: 4px;
  transition: all 80ms ease-in-out 0s;
}

.coins:hover {
  background-color: rgba(211, 211, 211, 0.089);
}

.index-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.basic-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    align-items: center;
}

.price-info {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
    align-items: center;
}

.price {
  padding-right: 10px;
  position: absolute;
  left: 360px;
}

.change {
  position: absolute;
  left: 500px;
}

.volume {
  position: absolute;
  left: 600px;
}

.market-cap {
  position: absolute;
  left: 770px;
}

.view-button {
  background-color: rgb(22, 82, 240);
  border: 1px solid rgb(22, 82, 240);
  transition: all 80ms ease-in-out 0s;
  color: white;
  font-size: 14px;
  font-weight: 400px;
  padding: 10px 15px;
  border-radius: 4px;
  margin-right: 12px;
  position: absolute;
  left: 960px;
}

.view-button:hover {
    background-color: rgb(17, 60, 220);
    border-color: rgb(17, 60, 220);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.watch-button {
  border: 1px solid rgb(5, 177, 105);
  background-color: rgb(5, 177, 105);
  transition: all 80ms ease-in-out 0s;
  color: white;
  font-size: 14px;
  font-weight: 400px;
  padding: 10px 15px;
  border-radius: 4px;
  margin-right: 12px;
  position: absolute;
  left: 1040px;
}

.watch-button:hover {
    background-color: rgb(0, 165, 93);
    border-color: rgb(0, 165, 93);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.badge {
  height: 30px;
  width: auto;
  padding-left: 12px;
}

.full-name {
  padding-left: 16px;
}

.short-name {
  padding-left: 12px;
  color: rgba(0, 0, 0, 0.411);
}

.labels {
  margin-top: 40px;
  border: 1px solid rgba(211, 211, 211, 0.404);
  border-radius: 4px;
  border-bottom: none;
  font-size: 12px;
  font-family: lato;
  color: rgba(0, 0, 0, 0.404);
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  text-align: center;
  width: 1098px;
  margin-left: auto;
  margin-right: auto;
}

.name-label {
  padding-left: 44px;
}